<!--=== PAGE PRELOADER ===-->
<div id="page-loader"><span class="page-loader-gif"></span></div>
<!-- ==============================================
MAIN NAV
=============================================== -->
<div id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <!-- ======= LOGO ========-->
      <a class="navbar-brand scrollto" href="#home"><img src="/assets/logo-9.png" alt=""/>Jane Doe</a>
    </div>
    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="sr-only">
          <a href="#home" class="scrollto">Home</a>
        </li>
        <li>
          <a href="#services" class="scrollto">What I Do</a>
        </li>
        <li>
          <a href="#about" class="scrollto">About Me</a>
        </li>
        <li>
          <a href="#portfolio" class="scrollto">My Works</a>
        </li>
        <li>
          <a href="#contact" class="scrollto">Contact Me</a>
        </li>
      </ul>
    </div><!--End navbar-collapse -->
  </div><!--End container -->
</div><!--End main-nav -->

<!-- ==============================================
HEADER
=============================================== -->
<header id="home">
  <div class="container text-center">
    <p>Welcome to</p>
    <h1>Graphista</h1>
    <p>The best choice for your online personal portfolio</p>
    <form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="contact.php" method="post" novalidate>
        
        <div class="form-group">
          <label class="control-label" for="contact-name">Name</label>
          <div class="controls">
          <input id="contact-name" name="contactName" placeholder="Your name" class="form-control requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
          <i class="fa fa-user"></i>
          </div>
        </div><!-- End name input -->
    </form>
  </div>
</header><!--End header -->

<!-- ==============================================
SERVICES
=============================================== -->
<section id="services" class="add-padding">
  <div class="container">
    <h1 class="section-title big-text scrollimation fade-up">My Services</h1>
    <div class="row">
      <div class="col-sm-4 service-item color3 scrollimation scale-in">
        <div class="service-icon"><i class="fa fa-lightbulb-o"></i></div>
        <h3>Brand Identity</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
        <div class="service-icon"><i class="fa fa-desktop "></i></div>
        <h3>Web Design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-sm-4 service-item color2 scrollimation scale-in d2">
        <div class="service-icon"><i class="fa fa-rocket"></i></div>
        <h3>Rocket Science</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>
</section>
<!-- ==============================================
ABOUT
=============================================== -->
<section id="about" class="add-padding bg-color2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 scrollimation fade-right d1">
        <img class="img-responsive polaroid" src="/assets/about.jpg" alt="" />
      </div>
      <div class="col-sm-6 scrollimation fade-left d3">
        <h1 class="big-text">I am <br/>Jane Doe </h1>
        <p class="lead">I am Jane Doe, a twenty five year old designer from NY. I have graduated with a Bachelor degree of Graphic &amp; Web Design, from the University of Pasadena.</p>
        <p>I am passionate about combining function, interaction and form to design for fitting user experiences that make people happy. I have a passion for creating challenging, intuitive and beautiful products. My design process is very hands-on and visual.</p>
      </div>
    </div>
  </div>
</section>
<!-- ==============================================
SKILLS
=============================================== -->
<section id="skills" class="add-padding border-bottom-color2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">
        <h1 class="big-text">I got<br/>The skills </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>
      </div>
      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <div class="skills-bars">
          <div class="skills-item skill1">
            <span class="percent" data-percent="75">75%</span>
            <p>Photoshop</p>
          </div>
          <div class="skills-item skill2">
            <span class="percent" data-percent="70">70%</span>
            <p>Illustrator</p>
          </div>
          <div class="skills-item skill3">
            <span class="percent" data-percent="90">90%</span>
            <p>HTML</p>
          </div>
          <div class="skills-item skill4">
            <span class="percent" data-percent="60">60%</span>
            <p>CSS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
