<!--=== PAGE PRELOADER ===-->
<div id="page-loader"><span class="page-loader-gif"></span></div>
<!-- ==============================================
MAIN NAV
=============================================== -->
<div id="main-nav" class="navbar ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <!-- ======= LOGO ========-->
      <a class="navbar-brand" href="/"><img src="/assets/ico.png" alt=""/></a>
    </div>
    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">摩适配</a>
        </li>
        <li>
          <a href="/#contact">获取报告</a>
        </li>
      </ul>
    </div><!--End navbar-collapse -->
  </div><!--End container -->
</div><!--End main-nav -->

<!-- ==============================================
swiper_section
=============================================== -->
<section id="swiper_section" class="add-padding">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <%=render 'swiper' %>
    </div>
    </div>
  </div>
</section>